In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
import re
import string

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
df_fake = pd.read_csv("/content/Fake.csv")
df_true = pd.read_csv("/content/True.csv")

In [ ]:
df_fake.head(10)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
5   Racist Alabama Cops Brutalize Black Boy While...  ...  December 25, 2017
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...  December 23, 2017
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...  December 23, 2017
8   Former CIA Director Slams Trump Over UN Bully...  ...  December 22, 2017
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...  December 21, 2017

[10 rows x 4 columns]

In [ ]:
df_true.head(10)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5  White House, Congress prepare for talks on spe...  ...  December 29, 2017
6  Trump says Russia probe will be fair, but time...  ...  December 29, 2017
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...  December 29, 2017
8         Trump on Twitter (Dec 28) - Global Warming  ...  December 29, 2017
9  Alabama official to certify Senator-elect Jone...  ...  December 28, 2017

[10 rows x 4 columns]

In [ ]:
df_fake["class"] = 0
df_true["class"] = 1

In [ ]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [ ]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
  df_fake.drop([i],axis=0,inplace=True)
def_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
  df_true.drop([i],axis=0,inplace=True)

In [ ]:
df_manual_testing=pd.concat([df_fake_manual_testing, def_true_manual_testing],axis=0)
df_manual_testing.to_csv("/content/manual_testing.csv")

In [ ]:
df_merge = pd.concat([df_fake,df_true], axis = 0)
df_merge.head(10)

                                               title  ... class
0   Donald Trump Sends Out Embarrassing New Year’...  ...     0
1   Drunk Bragging Trump Staffer Started Russian ...  ...     0
2   Sheriff David Clarke Becomes An Internet Joke...  ...     0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...     0
4   Pope Francis Just Called Out Donald Trump Dur...  ...     0
5   Racist Alabama Cops Brutalize Black Boy While...  ...     0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...     0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...     0
8   Former CIA Director Slams Trump Over UN Bully...  ...     0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...     0

[10 rows x 5 columns]

In [ ]:
df = df_merge.drop(["title","subject","date"], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [ ]:
df = df.sample(frac=1)

In [ ]:
df.head(10)

                                                    text  class
1661   Donald Trump is quickly closing in on his firs...      0
5238   WASHINGTON (Reuters) - A Pentagon-led prelimin...      1
20536  Trump has the Left scrambling to figure out ho...      0
3850   WASHINGTON (Reuters) - Russian Foreign Ministe...      1
5269   MEXICO CITY (Reuters) - An emboldened Mexico h...      1
21344  SEOUL (Reuters) - The billionaire head of Sout...      1
6870   Republicans claim that racism doesn t exist an...      0
6299   If you ask members of the Democratic Party who...      0
20677  WASHINGTON/BEIJING (Reuters) - U.S. President ...      1
9571   WASHINGTON (Reuters) - U.S. lawmakers are maki...      1

In [ ]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [ ]:
def drop(text):
  text = text.lower()
  text = re.sub('\[."?\]', '',text)
  text = re.sub("\\W"," ",text)
  text = re.sub('https?://\S+|www\.\S+', '',text)
  text = re.sub('<.*?>+', '',text)
  text = re.sub('[%s]' % re.escape(string.punctuation), '',text)
  text = re.sub('\n','',text)
  text = re.sub('\w*\d\w*', '',text)
  return text

In [ ]:
df["text"]= df["text"].apply(drop)

In [ ]:
df.head(10)

                                                    text  class
1661   donald trump is quickly closing in on his firs...      0
5238   washington  reuters    a pentagon led prelimin...      1
20536  trump has the left scrambling to figure out ho...      0
3850   washington  reuters    russian foreign ministe...      1
5269   mexico city  reuters    an emboldened mexico h...      1
21344  seoul  reuters    the billionaire head of sout...      1
6870   republicans claim that racism doesn t exist an...      0
6299   if you ask members of the democratic party who...      0
20677  washington beijing  reuters    u s  president ...      1
9571   washington  reuters    u s  lawmakers are maki...      1

In [ ]:
x = df["text"]
y = df["class"]

In [ ]:
x_train, x_test ,y_train,y_test = train_test_split(x,y, test_size= .25)

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [ ]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [ ]:
LR.score(xv_test,y_test)

0.9863636363636363

In [ ]:
pred_LR = LR.predict(xv_test)

In [ ]:
print(classification_report(y_text,pred_LR))

              precision    recall  f1-score   support

           0       0.53      0.54      0.53      5879
           1       0.48      0.48      0.48      5341

    accuracy                           0.51     11220
   macro avg       0.51      0.51      0.51     11220
weighted avg       0.51      0.51      0.51     11220

Manual Testing

In [ ]:
def Output(n):
  if n==0:
    return "News is Fake"
  elif n==1:
    return "News is not Fake"
  
def manual_testing(news):
  testing_news={"text":[news]}
  new_def_test = pd.DataFrame(testing_news)
  new_def_test["text"]=new_def_test["text"].apply(drop)
  new_x_test = new_def_test["text"]
  new_xv_test = vectorization.transform(new_x_test)
  pred_LR=LR.predict(new_xv_test)
  return ("{}".format(Output(pred_LR)))

In [ ]:
news = str(input("Please Enter the News :"))
manual_testing(news)

Tune in to the Alternate Current Radio Network (ACR) for another LIVE broadcast of  The Boiler Room  starting at 6 PM PST | 9 PM EST every Wednesday. Join us for uncensored, uninterruptible talk radio, custom-made for barfly philosophers, misguided moralists, masochists, street corner evangelists, media-maniacs, savants, political animals and otherwise lovable rascals.Join ACR hosts Hesher, & Spore along with Andy Nowicki from Alt Right Blogspot, Randy J of 21Wire, Jay Dyer of Jays Analysis and Daniel Spaulding of Soul of the East. Tonight the Boiler Gang discusses psychological operations in the media,  HIV/AIDS deniers,  potentially staged gender politics, some out there B-movies with regards to esoteric symbolism, the metaphor of Reptiles as they relate to psychopathy in the  elite establishment,  and some good comedic relief. If you want to participate, bring something interesting to throw into the boiler Join us in the ALTERNATE CURRENT RADIO chat room.BOILER ROOM IS NOT A POLICTALLY CORRECT ZONE! LISTEN TO THE SHOW IN THE PLAYER BELOW   ENJOY! REFERENCE LINKS:

'News is Fake'